page-detailreserva {

  .button-outline-ios {
    border-color: #828282;
    color: #525050;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    font-size: 16px;
    background-color: transparent;
  }
  .fondocabecera {
    background-size: 100% auto;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    position: relative;
    z-index: 10;
    display: block;
    width: 100vw;
    margin-top: -17px;
    margin-left: -16px;
    height: 60%;

    border-radius: 0 0 25px 25px;
    margin-bottom: 4vh;
  }

  .title-article{
    text-shadow: 2px 2px 7px #111;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
  }
  .usericon{
    color: #9E9E9E;
    background-color: #e3e3e3;
    width: 17px;
    height: 18px;
    margin: 2px;
  }
  .toolbar-title-ios {
    text-align: left;
  }
  .toolbar-title-md {
    padding: 0 0px;
  }
  .icopeque{
    font-size: 1.4rem;
  }
  .plusicon{
    color: #ffff;
    background-color: #636262;
    width: 17px;
    height: 18px;
    margin: 2px;
  }
  .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    left: 0;
    bottom: -5px;
    background-position: left 0 top -2px;
    position: absolute;
    width: 100%;
    height: 5px;
    background-image: url(data:image/);
    background-repeat: repeat-x;
    content: "";
  }
  .texthora{
    text-shadow: 1px 1px 1px #111;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-top: 12vh;
  }
  .list-ios {
    margin: -1px 0 10px;
  }
  .list-md {
    margin: -1px 0 10px;
  }
  .botonpeque {
    color: #ffff;
    background-color: #9E9E9E;
    font-size: 12px;
    height: 3rem;
    border-radius: 5px;
    width: 9.6rem!important;

  }
  .textpeque{
    text-align: center;
    font-size: 11px;
    color: #aaadae;
  }
  .textpeque2{
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: #b0b2b4;
    margin-bottom: -5px;
  }
  .textcontent{
    font-size: 13px;
    color: #aaadae;
  }
  .imgicon{
    width: 15px;
  }
  .imgicon2{
    width: 20px;
    height: 20px!important;
  }
}
.button-outline-md-dark {
  border-color: #828282;
  color: #525050;
  /* border: 5px; */
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  font-size: 16px;
  background-color: transparent;
}

.button-md-light {
  color: #ffff;
  background-color: #9E9E9E;
  font-size: 10px;
  height: 2.6rem;
  width: 8.6rem;
}
.button-md-light2 {
  color: #9e9e9e;
  background-color: #a3352f;
  font-size: 10px;
  height: 2.6rem;
  width: 8.6rem;
}
.icon-like{
  display: inline-block;
  font-size: 1.2em;
  color: #d9d9d9 !important;
}
.atrasbutton{
  color: #9E9E9E;
  background-color: #ffffff;
  width: 25px;
  height: 25px;
  margin-top: 1vh;
}
.button-md-light2 {
  color: #f7f7f7;
  background-color: #d9d9d9;
  font-size: 10px;
  height: 2.6rem;
  width: 8.6rem;
}
.button-md-light4 {
  color: #808080!important;
  background-color: #d9d9d9!important;
  font-size: 10px;
  font-weight: bold!important;
  border-radius: 4px!important;
  height: 2.6rem;
  width: 8.6rem;
}
.raya2{
  border: solid;
  border: solid 1px;
  width: 100%;
  color: #b7b7b7;
}
.letradetail{
  font-size: 15px;
  color: #a3352f;
  margin-top: 5px!important;
  margin-bottom: 5px!important;
}
