<ion-header>
  <ion-row padding>
    <ion-col col-2>
      <ion-buttons  start>
        <button (tap)="atras2()"  class="xbutton" ion-fab color="danger"><ion-icon  class="xicon" ios="ios-close" md="md-close"></ion-icon></button>
      </ion-buttons>
    </ion-col>

    <ion-col col-8>
      <div class="title2">Mis Ventas</div>
    </ion-col>
    <ion-col  class="center" col-2>
    </ion-col>
  </ion-row>
</ion-header>


<ion-content   class="fondoclaro">
  <p style="text-align: center; margin-bottom: 10px">{{contador}} Productos pendientes por entregar</p>
  <div style="height: 100%; margin-top: -20px;">
    <div *ngFor="let item of eventoslist ">
      <ion-row    class="saltomenor" style="margin-right: 5%;">
        <ion-col  (tap)="presentConfirm(item.publicacion.id,item.publicacion.clientetelefono,
        item.publicacion.clienteaddres,item.publicacion.clientelatitud,
        item.publicacion.clientelongitud,item.publicacion.clientename,
        item.publicacion.clienteemail)" col-4>
          <ion-card style=" width: 100%; height: 75%; border-radius: 10px">
            <ion-card-content style="padding: 0 0; height: 60px;">
              <img *ngIf="item.images[0]" style="height: auto" src="{{url+item.images[0].ruta}}">
              <img *ngIf="!item.images[0]" style="height: auto;" src="assets/nofoto.jpg">
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col (tap)="presentConfirm(item.publicacion.id,item.publicacion.clientetelefono,
        item.publicacion.clienteaddres,item.publicacion.clientelatitud,
        item.publicacion.clientelongitud,item.publicacion.clientename,
        item.publicacion.clienteemail)" style="padding-left: 0px;" col-8>
          <ion-card  style="width: 100%; height: 75%; border-radius: 10px">
            <ion-card-content>
              <ion-card-title>
                <h5 class="titleoscuro" style=" overflow:hidden; height: 30px;
                                      white-space:nowrap;
                                      text-overflow: ellipsis; width: 85%">
                  {{item.publicacion.titulo}}
                </h5>
                <ion-icon  style="font-size: 0.9em; float: right; margin-top: -40px;" name="contact"></ion-icon>
              </ion-card-title>
              <ion-row no-padding>
                <ion-col style="max-height: 45px;" text-left col-8>
                  <b style="width: 100%;  overflow:hidden; height: 20px;  white-space:nowrap; text-overflow: ellipsis;" class="text-11px">
                    {{item.publicacion.descripcion}}
                  </b>
                  <p style="font-size: 10px; float: right">
                    {{item.publicacion.fecha}}
                  </p>
                </ion-col>
                <ion-col  text-left col-4>
                  <b style="width: 100%;  overflow:hidden; height: 30px;" class="text-12px">

                    <div style="float: right;" *ngIf="item.publicacion.tipo_moneda==''">{{item.publicacion.precio}} EUR</div>
                    <div style="float: right;" *ngIf="item.publicacion.tipo_moneda=='1'">{{item.publicacion.precio}} USD</div>
                    <div style="float: right;" *ngIf="item.publicacion.tipo_moneda=='2'">{{item.publicacion.precio}} EUR</div>
                  </b>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
  </div>

</ion-content>
