page-reservaservice {
  .text-13px{
    font-size: 13px;
    color: #b2b2b2;
    margin-top: 1%!important;
    float: left;

  }
  .toolbar-title-md {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color: #a6a6a6;
  }
  h1{
    color: #646464;
  }
  .button-md2 {
    border-radius: 5px;
    overflow: hidden;
    height: 3.6rem;
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #757575 !important;
    background-color: rgba(189, 189, 189, 0)!important;
  }
  .margentitle{
    margin-top: 0.3vh;
    text-align: center;color: #9e9e9e;
    font-weight: 500;
  }
  .mydrp .selector {
    border: 0px solid #CCC;
    width: 100%!important;
  }
  .mydrp .range {
    background-color: #9E9E9E;
    border-radius: 0px;
    color: #fff!important;
  }

  .mydrp .selecteddaybegin, .mydrp .selecteddayend, .mydrp .selectedmonth .monthvalue, .mydrp .selectedyear .yearvalue {
    border: none;
    background-color: #9e9e9e;
    border-radius: 2px;
  }
  .mydrp .sunday {
    color: #000;
  }
  .mydrp .weekdaytitle {
    background-color: #fff;
    font-size: 11px;
    font-weight: 400;
    vertical-align: middle;
    max-width: 36px;
  }
   .mydrp .selecteddaybegin, page-reservaservice .mydrp .selecteddayend, page-reservaservice .mydrp .selectedmonth .monthvalue, page-reservaservice .mydrp .selectedyear .yearvalue {
    border: none;
    background-color: #9e9e9e;
    border-radius: 2px;
    color: #fff;
  }
  .mydrp .daycell:hover, .mydrp .monthcell:hover, .mydrp .yearcell:hover {
    background-color: #9e9e9e;
    border-radius: 10px;
  }
  .mydrp .disabled {
    cursor: default!important;
    color: #9e9e9e!important;
    background: #fff!important;
  }
  .mydrp .nextmonth, .mydrp .prevmonth {
    color: #9E9E9E;
  }
  .mydrp .caltable, .mydrp .daycell, .mydrp .monthcell, .mydrp .monthtable, .mydrp .weekdaytitle, .mydrp .yearcell, .mydrp .yeartable {
    border-collapse: collapse;
    color: #737272;
    line-height: 1.1;
  }
   .mydrp .sunday {
    color: #737272;
  }
  .mydrp .daycell:hover, page-reservaservice .mydrp .monthcell:hover, page-reservaservice .mydrp .yearcell:hover {
    background-color: #9e9e9e;
    border-radius: 0px;
  }
   .mydrp .selecteddaybegin, page-reservaservice page-reservaservice .mydrp .selecteddayend, page-reservaservice page-reservaservice .mydrp .selectedmonth .monthvalue, page-reservaservice page-reservaservice .mydrp .selectedyear .yearvalue {
    border: none;
    background-color: #9e9e9e;
    border-radius: 2px;
    color: #fff!important;
  }
  //desde aqui edicion de calendario
  .card-md {
    margin: 10px;
    border-radius: 2px;
    width: calc(100% - 20px);
    font-size: 1.4rem;
    background: transparent;
    -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0px rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0px rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
  }
  .mydrp .titlearea {
    text-align: center;
    background-color: transparent;
  }
  .mydrp .header {
    width: 100%;
    height: 30px;
    background-color: transparent;
  }
  .mydrp .headerbtncell {
    background-color: transparent;
    cursor: pointer;
    display: table-cell;
    vertical-align: middle;
  }
  .mydrp .headerbtn, .mydrp .headerlabelbtn, .mydrp .yearchangebtn {
    background: transparent;
    border: none;
    height: 22px;
  }
  .mydrp .caltable, .mydrp .monthtable, .mydrp .yeartable {
    table-layout: fixed;
    width: 100%;
    background-color: transparent;
    font-size: 14px;
  }
  .mydrp .weekdaytitle {
    background-color: transparent;
    font-size: 11px;
    font-weight: 400;
    vertical-align: middle;
    max-width: 36px;
  }
  .mydrp .monthcell {
    background-color: transparent;
  }
  .mydrp .selectedmonth .monthvalue, page-calendar .mydrp .selectedyear .yearvalue {
    border: none;
    background-color: #9e9e9e;
    color: #fff;
    border-radius: 2px;
  }
  .mydrp .yearchangebtncell {
    text-align: center;
    background-color: transparent;
  }
  .mydrp .yearcell {
    background-color: transparent;
    width: 20%;
  }
  .mydrp .selectedyear .yearvalue {
    border: none;
    background-color: #9e9e9e;
    border-radius: 2px;
    color: #fff;
    text-decoration: none;
  }
  .mydrp .daycell, .mydrp .monthcell, .mydrp .weekdaytitle, .mydrp .yearcell {
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }
  .card-content-md {
    padding: 0px 0px;
    font-size: 1.4rem;
    line-height: 1.5;
  }

  .mydrp {
    line-height: 1;
    display: inline-block;
    position: relative;
    width: 100% !important;
  }
  //hasta aqui calendario

  .mydrp .range {
    background-color: #9e9e9e!important;
    border-radius: 0px;
    color: #fff !important;
  }
  .flechasnumber {
    margin-top: 28px;
    float: left;
    margin-left: -15px;
    color: #c1c0c0;
    font-size: 17px;
  }
  .toolbar-background-md {
    border-color: #b2b2b2;
    background: #000000;
  }

}
.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {

  background-image: url(data:image/==);

}

.black .toolbar-background-ios{
  background-color: black !important;
}

.letrasreserva{
  text-align: center;
  font-size: 40px;
  font-weight: 100;
  color: #e8e8e8;
}
.letrasreserva2{
  text-align: center;
  font-size: 35px;
  font-weight: 100;
  color: #f3f3f3;
}
.letradia{
  font-size: 8px!important;
  margin-right: 20%;
  color: #f3f3f3;
}
.letradivpeque{
  font-size: 8px;
  margin-right: 50%;
  color: #f3f3f3;
}
.letradivpequevalor{
  font-size: 8px;
  margin-right: 50%;
  margin-top: 2px;
  margin-bottom: 10px;
  color: #f3f3f3;
}
.flechasmes {
  margin-top: 28px;
  float: left;
  margin-left: -22px;
  color: #c1c0c0;
  font-size: 17px;
}
.margenreserva{
  margin-top: 10%!important;
}
.fondooscuro{
  background-color: #000000 !important
}
.margetitleoscuro{
  margin-top: 0.3vh;
  text-align: center;color: #eeeeee;
  font-weight: 500;
}
.coloroscuro{
  color: #eeeeee;
}
.raya3{
  border: solid 0.9px;
  width: 100%;
  color: #2f2f2f;
}
