page-myshopping {
  ion-title {
    text-align: center;
    color: #afafaf!important;
  }
  .toolbar-title-md {
    padding: 0 12px;
    font-size: 1.5rem;
    font-weight: 500;
    color: #a3352f
  }
  .fab-ios-primary {
    color: #000;
    background-color: #bdbdbd;
    float: right;
    width: 30px;
    height: 30px;
  }
  .card-ios {
    margin: 12px;
    border-radius: 15px;
    width: calc(100% - 24px);
    font-size: 1.4rem;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.3);
  }

  .card-md {
    margin: 10px;
    border-radius: 15px;
    width: calc(100% - 20px);
    font-size: 1.4rem;
    background: #fff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }

  .raya{
    border: solid 1px;
    color: #dedede;
    width: 15%;
    margin-bottom: 3%;
  }

  .card-md h1 {
    font-weight: bold;
    color: #808080;
  }
  .textop{
    color: #bebebe;
  }
  .card-md p {
    margin: 0 0 2px;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color: #9E9E9E;
  }
  .text-8px{
    font-size: 8px;
  }
  .text-11px{
    font-size: 11px;
    color: #c9c9c9;
    margin-top: 1%!important;
    float: left;

  }
  .text-11px2{
    font-size: 9px;
    color: #c9c9c9;
    margin-top: 1%!important;


  }
}
